@font-face {
    font-family: "Pilowlava";
    src: url("assets/fonts/02-Fonts/Pilowlava-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "PP Mori Regular";
    src: url("assets/fonts/02-Fonts/PPMori-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "PP Mori Bold";
    src: url("assets/fonts/02-Fonts/PPMori-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "PP Mori SemiBold";
    src: url("assets/fonts/02-Fonts/PPMori-SemiBold.ttf");
        font-family: var(--font-1-bold);
}

:root {
    /* colors */
    --deep-black: #000000;
    --deep-knowledge-blue: #000d22;
    --oceanic-blue: #001a41;
    --eco-white: #ffffff;
    --cool-grey: #c8dde8;
    --mid-grey: #97b0c0;
    --light-blue: #7beeff;
    --glowing-blue: #00d8ff;
    --light-pink: #ffa7c2;
    --glowing-pink: #ff407e;
    --light-purple: #eca7ff;
    --glowing-purple: #ca40ff;

    /* gradients */
    --gradient-1: linear-gradient(90deg, #ff427b 0%, #b042ff 51%, #00d8ff 100%);
    --gradient-2: linear-gradient(90deg, #06d3ff 0%, #b042ff 100%);
    --gradient-3: linear-gradient(90deg, #b042ff 0%, #ff427b 100%);
    --gradient-4: linear-gradient(90deg, #ff427b 0%, #00d8ff 100%);
    --gradient-5: linear-gradient(90deg, #00d8ff 0%, #b042ff 51%, #ff427b 100%);
    --gradient-6: linear-gradient(90deg, #b042ff 0%, #06d3ff 100%);
    --gradient-7: linear-gradient(90deg, #ff427b 0%, #b042ff 100%);
    --gradient-8: linear-gradient(90deg, #00d8ff 0%, #ff427b 100%);

    /* fonts */
    --font-1: "PP Mori Regular", serif;
    --font-1-semibold: "PP Mori SemiBold", serif;
    --font-1-bold: "PP Mori Bold", serif;
    --font-2: "Pilowlava", serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-1);
}

h1 {
    font-size: 80px;
    font-family: var(--font-1-bold);
}

h2 {
    font-size: 64px;
    font-family: var(--font-1-bold);
}


h3 {
    font-size: 36px;
    font-family: var(--font-1-bold);
}

h4 {
    font-size: 24px;
    font-family: var(--font-1-semibold);
}

button {
    outline: none;
    border: none;
}

@media (max-width: 768px) {
    h1 {
        font-size: 48px;
        font-family: var(--font-1-bold);
    }

    h2 {
        font-size: 40px;
        font-family: var(--font-1-bold);
    }
}
